.design {
  padding: 120px 0;
  position: relative;
  &__wrapper {
    position: relative;
    color: $light;
    &::before {
      content: '';
      position: absolute;
      top: -23%;
      right: -26%;
      z-index: -10;
      width: 943px;
      height: 948px;
      background: linear-gradient(120.02deg, #FC501F 12.77%, rgba(252, 80, 31, 0) 59.51%);
      opacity: 0.5;
      filter: blur(280px);
      transform: matrix(0, 1, 1, 0, 0, 0);
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -23%;
      left: -18%;
      z-index: -10;
      width: 580px;
      height: 580px;
      background: linear-gradient(121.95deg, #FC1F1F 13.18%, rgba(252, 203, 31, 0.31) 72.93%);
      opacity: 0.3;
      filter: blur(280px);
      transform: rotate(-90deg);
      border-radius: 50%;

    }
  }
  &__line-top {
    position: absolute;
    top: -16%;
    right: -41.5%;
    width: 100%;
    height: 115%;
    z-index: -2;
    
  }
  &__line-bottom {
    position: absolute;
       bottom: -83.4%;
       left: -29%;
       width: 99%;
       height: 119%;
    z-index: -15;
  }
  &__title {
    @include font(45px, 500, 110%, $orange);
    margin-bottom: 70px;
    max-width: 65%;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 60px;
      max-width: 560px;
      height: 550px;      
      border-radius: 15px;   
      position: relative;   
      overflow: hidden
    }
    &-title {
      @include font(20px, 600, 120%);
      margin-bottom: 15px;
    }
    &-text {
      @include font(14px, 400, 150%);
      letter-spacing: -0.01em;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -5;
    }
  }
  
}