.footer {
  padding: 60px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    list-style: none;
    @include font(14px, 400, 150%);
    letter-spacing: -0.01em;    
    padding: 0;
    &:last-child {
      text-align: right;
    }
  }
  &__list-item:first-child {
    margin-bottom: 20px;
  }
}