.review {
  padding: 120px 0;
  &__wrapper {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 943px;
      height: 948px;      
      top: -77%;
      right: -30%;
      border-radius: 50%;
      z-index: -10;
      background: linear-gradient(120.02deg, #FC501F 12.77%, rgba(252, 80, 31, 0) 59.51%);
      opacity: 0.5;
      filter: blur(280px);
      transform: matrix(0, 1, 1, 0, 0, 0);
    }
  }

  &__title {
    @include font(45px, 500, 110%, $orange);
    margin-bottom: 30px;    
  }

  &-swiper {
    margin-bottom: 40px;
    position: relative;    
  }

  &__slide {
    
    padding: 40px;
    background: #151515;
    border-radius: 15px;
    &-title {
      @include font(20px, 600, 120%);
      margin-bottom: 30px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100px;
        height: 3px;
        background-color: $orange;
      }
    }
    &-text {
      @include font(14px, 400, 150%);
      letter-spacing: -0.01em;
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;    
  }

  &__btn {
    @include btn;
    @include font(16px, 400, 150%, $dark);
  }

  &-btns {
    margin-right: 40px;
    width: 123px;
    display: flex;
    justify-content: space-between;
    &__btn {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: #f1f1f1;
      border: none;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background-color: $orange;
      }

      & path {
        transition: all 0.4s;
      }

      &:hover path {
        fill: $light;
      }
    }
  }

  &__line {
    position: absolute;
        top: -60%;
        left: 20%;
        z-index: -4;
        width: 192%;
        height: 238%;
  }
}
.swiper-pagination-2 {
  display: none;
}