<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<a href="#" class="header__logo">
				<svg class="header__logo-icon logo-icon">
					<use href="img/sprite.svg#sprite--logo-orange"></use>
				</svg>
			</a>
			<nav class="header__nav nav">
				<ul class="nav-list">
					<li class="nav-list__item">
						<a href="#aboutBattery" class="nav-list__link">О продукте</a>
					</li>
					<li class="nav-list__item">
						<a href="#design" class="nav-list__link">Внешний вид</a>
					</li>
					<li class="nav-list__item">
						<a href="#safety" class="nav-list__link">Безопасность</a>
					</li>
					<li class="nav-list__item">
						<a href="#reviews" class="nav-list__link">Отзывы</a>
					</li>
					<li class="nav-list__item">
						<a href="#qna" class="nav-list__link">FAQ</a>
					</li>
				</ul>
				<a class="header__btn btn" href="#buyCard">Купить</a>
			</nav>
			<button class="menu-btn"></button>
		</div>
		<!-- /.header__wrapper -->
	</div>
	<!-- /.container -->
</header>
