

* {
  box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
 position: relative;

}
body { 
  font-family:'Gilroy', sans-serif;
  margin: 0;  
  background-color:$dark;
  color: $light;
}
 .btn {
   @include font(16px, 700, 150%, #151515);
   @include btn;
 }
.container {
  max-width: 1194px;
  margin: auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  width: 60px;
  height: 39px;
}