

* {
  box-sizing: border-box;
}
:root {
  --main-color: #222222;
  --text-color: #f1f1f1;
}
html, body {
   overflow-x: hidden;
 position: relative;

}
body { 
  font-family:'Gilroy', sans-serif;
  margin: 0;  
  background-color:var(--main-color);
  color: var(--text-color);
  transition: all .3s;
}
 .btn {
   @include font(16px, 700, 150%, #151515);
   @include btn;
 }
.container {
  max-width: 1194px;
  margin: auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  width: 60px;
  height: 39px;
}
.desktop-hidden {
  display: none;
}
.mobile-show {
  display: none;
}